name: task_scheduler
description: A simple task management app with auto-classification
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  flutter_riverpod: ^2.4.9
  
  dio: ^5.4.0
  
  cupertino_icons: ^1.0.6
  intl: ^0.18.1
  
  connectivity_plus: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
